*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Avenir Next', sans-serif;
	color: #fff;
	background: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

/* Buttons */



@font-face {
font-family: flesh;
src: url('./flesh.ttf');
}

.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	pointer-events: auto;
	color: #333;
	border: 0;
	border-radius: 1.85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.885em;
	padding: 1em 2em;
	margin: 0 auto;
	background: rgba(251, 224, 148, 0.8);
	-webkit-transition: background 0.3s, opacity 0.3s;
	transition: background 0.3s, opacity 0.3s;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background: rgba(251, 224, 148, 1);
}

.btn--trigger {
	width: 15em;
	position: absolute;
	bottom: 2em;
	left: 50%;
	margin: 0 0 0 -7.5em;
}

.btn--hidden {
	opacity: 0;
	pointer-events: none;
}

/* Links */

a {
	text-decoration: none;
	color: #fbe094;
	outline: none;
}

/* Demo colors */
.demo-2 a {}
.demo-2 .btn {}
.demo-2 .btn:hover {}
.demo-2 .trigger-headline { color: #fbe094; }
.demo-2 .github-icon { }

.demo-3 a { color: #b5b5b5; }
.demo-3 .btn { background: rgba(148,147,154,0.7); }
.demo-3 .btn:hover { background: rgba(148,147,154,1); }
.demo-3 .trigger-headline { color: #401fe4; }
.demo-3 .github-icon { fill: #b5b5b5;}

.demo-4 a { color: #d70240; }
.demo-4 .btn { background: rgba(215, 2, 64, 0.7); color: #fff; }
.demo-4 .btn:hover { background: rgba(215, 2, 64,1);  }
.demo-4 .trigger-headline { color: #fff; text-shadow: 10px 10px 10px rgba(0,0,0,0.2);}
.demo-4 .github-icon { fill: #d70240;}

.demo-5 a { color: #8a74a0; }
.demo-5 .btn { background: rgba(138, 116, 160, 0.7); color: #fff; }
.demo-5 .btn:hover { background: rgba(138, 116, 160,1); }
.demo-5 .trigger-headline { color: #E61572;}
.demo-5 .github-icon { fill: #8a74a0;}

.demo-6 a { color: #F5F21F; }
.demo-6 .btn { background: rgba(33, 35, 35, 0.7); color: #fff; }
.demo-6 .btn:hover { background: rgba(33, 35, 35, 1); }
.demo-6 .trigger-headline { color: #1D1D1C;}
.demo-6 .github-icon { fill: #F5F21F;}

a:hover,
a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Bottom nav */

.bottom-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}


@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}



/* Content */

.content {
	padding: 3em 0;
}

.trigger-headline {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 6vw;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.trigger-headline span {
	display: inline-block;
	position: relative;
	padding: 0 5vw;
	-webkit-transition: opacity 2s, -webkit-transform 2s;
	transition: opacity 2s, transform 2s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
	margin-left: 5%
}

.js .trigger-headline--hidden span {
	pointer-events: none;
	opacity: 0;
}

.js .trigger-headline--hidden span:nth-child(1) {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-100px,0,0);
}

.js .trigger-headline--hidden span:nth-child(2) {
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(3) {
	-webkit-transform: translate3d(-25px,0,0);
	transform: translate3d(-25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(4) {
	-webkit-transform: translate3d(25px,0,0);
	transform: translate3d(25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(5) {
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(6) {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

/* Adjustments for some demos */
.demo-4 .trigger-headline span {
	-webkit-transition: opacity 2.3s, -webkit-transform 2.3s;
	transition: opacity 2.3s, transform 2.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.js .demo-4 .trigger-headline--hidden span:nth-child(1) {
	-webkit-transform: translate3d(200px,0,0);
	transform: translate3d(200px,0,0);
}

.js .demo-4 .trigger-headline--hidden span:nth-child(2) {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

.js .demo-4 .trigger-headline--hidden span:nth-child(3) {
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

.js .demo-4 .trigger-headline--hidden span:nth-child(4) {
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.js .demo-4 .trigger-headline--hidden span:nth-child(5) {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-100px,0,0);
}

.js .demo-4 .trigger-headline--hidden span:nth-child(6) {
	-webkit-transform: translate3d(-200px,0,0);
	transform: translate3d(-200px,0,0);
}

.demo-5 .trigger-headline span {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* Ad style */
body #cdawrap {
	top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
    border: 0;
    background: rgba(46, 50, 61, 0.55);
}

body #cdawrap .carbon-text {
    color: #e5eef2;
    font-size: 1.05em;
}

body #cdawrap a.carbon-poweredby:hover {
	color: #fff;
}

@media screen and (max-width:60em) {
	.codrops-demos {
		padding: 2em 0.25em 2.5em;
	}
	.codrops-demos {
		margin-bottom: 4em;
		text-align: center;
	}
}
